In [2]:
import pandas as pd
import polars as pl
import numpy as np
import matplotlib.pyplot as plt

In [3]:
monthly_data = pd.read_csv('data\\vietnam_data\\monthly_electric_data.csv')
yearly_data = pd.read_csv('data\\vietnam_data\\yearly_electric_data.csv')

In [4]:
monthly_data.head()

,Area,ISO 3 code,Date,Area type,Continent,Ember region,EU,OECD,G20,G7,ASEAN,Category,Subcategory,Variable,Unit,Value,YoY absolute change,YoY % change
0,Argentina,ARG,2018-01-01,Country or economy,South America,Latin America and Caribbean,0.0,0.0,1.0,0.0,0.0,Electricity demand,Demand,Demand,TWh,12.77,NaN,NaN
1,Argentina,ARG,2018-01-01,Country or economy,South America,Latin America and Caribbean,0.0,0.0,1.0,0.0,0.0,Electricity generation,Aggregate fuel,Clean,%,34.57,NaN,NaN
2,Argentina,ARG,2018-01-01,Country or economy,South America,Latin America and Caribbean,0.0,0.0,1.0,0.0,0.0,Electricity generation,Aggregate fuel,Fossil,%,65.44,NaN,NaN
3,Argentina,ARG,2018-01-01,Country or economy,South America,Latin America and Caribbean,0.0,0.0,1.0,0.0,0.0,Electricity generation,Aggregate fuel,Gas and Other Fossil,%,63.40,NaN,NaN
4,Argentina,ARG,2018-01-01,Country or economy,South America,Latin America and Caribbean,0.0,0.0,1.0,0.0,0.0,Electricity generation,Aggregate fuel,"Hydro, Bioenergy and Other Renewables",%,29.08,NaN,NaN

In [5]:
vietnam_monthly_data = monthly_data[monthly_data['Area'] == 'Viet Nam']
vietnam_monthly_data.head()

,Area,ISO 3 code,Date,Area type,Continent,Ember region,EU,OECD,G20,G7,ASEAN,Category,Subcategory,Variable,Unit,Value,YoY absolute change,YoY % change
497745,Viet Nam,VNM,2019-01-01,Country or economy,Asia,Asia,0.0,0.0,0.0,0.0,1.0,Electricity demand,Demand,Demand,TWh,17.87,NaN,NaN
497746,Viet Nam,VNM,2019-01-01,Country or economy,Asia,Asia,0.0,0.0,0.0,0.0,1.0,Electricity generation,Aggregate fuel,Clean,%,23.06,NaN,NaN
497747,Viet Nam,VNM,2019-01-01,Country or economy,Asia,Asia,0.0,0.0,0.0,0.0,1.0,Electricity generation,Aggregate fuel,Fossil,%,76.95,NaN,NaN
497748,Viet Nam,VNM,2019-01-01,Country or economy,Asia,Asia,0.0,0.0,0.0,0.0,1.0,Electricity generation,Aggregate fuel,Gas and Other Fossil,%,23.06,NaN,NaN
497749,Viet Nam,VNM,2019-01-01,Country or economy,Asia,Asia,0.0,0.0,0.0,0.0,1.0,Electricity generation,Aggregate fuel,"Hydro, Bioenergy and Other Renewables",%,18.97,NaN,NaN

In [6]:
# fillter data
vietnam_data = vietnam_monthly_data.drop(columns=['Area', 'ISO 3 code', 'Area type', 'Continent', 'Ember region', 'EU', 'OECD', 'G20', 'G7', 'ASEAN'])
vietnam_data.head()

,Date,Category,Subcategory,Variable,Unit,Value,YoY absolute change,YoY % change
497745,2019-01-01,Electricity demand,Demand,Demand,TWh,17.87,NaN,NaN
497746,2019-01-01,Electricity generation,Aggregate fuel,Clean,%,23.06,NaN,NaN
497747,2019-01-01,Electricity generation,Aggregate fuel,Fossil,%,76.95,NaN,NaN
497748,2019-01-01,Electricity generation,Aggregate fuel,Gas and Other Fossil,%,23.06,NaN,NaN
497749,2019-01-01,Electricity generation,Aggregate fuel,"Hydro, Bioenergy and Other Renewables",%,18.97,NaN,NaN

In [7]:
vietnam_data.tail()

,Date,Category,Subcategory,Variable,Unit,Value,YoY absolute change,YoY % change
501102,2025-10-01,Power sector emissions,Fuel,Hydro,mtCO2,0.32,0.06,23.08
501103,2025-10-01,Power sector emissions,Fuel,Other Fossil,mtCO2,0.00,0.00,NaN
501104,2025-10-01,Power sector emissions,Fuel,Solar,mtCO2,0.06,-0.04,-40.00
501105,2025-10-01,Power sector emissions,Fuel,Wind,mtCO2,0.01,0.00,0.00
501106,2025-10-01,Power sector emissions,Total,Total emissions,mtCO2,9.26,-0.99,-9.66

In [8]:
vietnam_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3362 entries, 497745 to 501106
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Date                 3362 non-null   object
 1   Category             3362 non-null   object
 2   Subcategory          3362 non-null   object
 3   Variable             3362 non-null   object
 4   Unit                 3362 non-null   object
 5   Value                3362 non-null   float64
 6   YoY absolute change  2030 non-null   float64
 7   YoY % change         1801 non-null   float64
dtypes: float64(3), object(5)
memory usage: 236.4+ KB

In [9]:
vietnam_data['Date'] = pd.to_datetime(vietnam_data['Date'], format='%Y-%m-%d')
vietnam_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3362 entries, 497745 to 501106
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Date                 3362 non-null   datetime64[ns]
 1   Category             3362 non-null   object
 2   Subcategory          3362 non-null   object
 3   Variable             3362 non-null   object
 4   Unit                 3362 non-null   object
 5   Value                3362 non-null   float64
 6   YoY absolute change  2030 non-null   float64
 7   YoY % change         1801 non-null   float64
dtypes: datetime64[ns](1), float64(3), object(4)
memory usage: 236.4+ KB

In [11]:
# 1. Chỉ lọc lấy đơn vị TWh để phân tích sản lượng
df_twh = vietnam_data[vietnam_data['Unit'] == 'TWh'].copy()

# 2. Pivot dữ liệu: Chuyển Variable thành cột
df_wide = df_twh.pivot_table(index='Date', 
                             columns='Variable', 
                             values='Value').reset_index()

# 3. Điền các giá trị thiếu bằng 0 (ví dụ Solar/Wind năm 2019 có thể chưa có dữ liệu)
df_wide = df_wide.fillna(0)

In [14]:
df_wide.head()

Variable,Date,Clean,Coal,Demand,Fossil,Gas,Gas and Other Fossil,Hydro,"Hydro, Bioenergy and Other Renewables",Net Imports,Other Fossil,Renewables,Solar,Total Generation,Wind,Wind and Solar
0,2019-01-01,4.12,9.63,17.87,13.75,4.12,4.12,3.39,3.39,0.0,0.00,4.12,0.00,17.87,0.73,0.73
1,2019-02-01,5.33,9.90,18.89,13.56,3.64,3.66,5.33,5.33,0.0,0.02,5.33,0.00,18.89,0.00,0.00
2,2019-03-01,4.19,8.43,16.11,11.92,3.49,3.49,4.11,4.11,0.0,0.00,4.19,0.08,16.11,0.00,0.08
3,2019-04-01,5.52,10.60,20.00,14.48,3.88,3.88,5.44,5.44,0.0,0.00,5.52,0.08,20.00,0.00,0.08
4,2019-05-01,5.67,11.18,20.86,15.19,3.84,4.01,5.47,5.47,0.0,0.17,5.67,0.20,20.86,0.00,0.20

In [15]:
df_wide.to_csv('data\\Synthesis\\vietnam_electric_data_2.csv', index=False)